{% extends "base.html" %}

{% block title %} Cart {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
            </div>
        </div>
    </div>
</section>


{% if products %}
<section id="cart" class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(products | length) %}
                        <tr id="row{{products[i][0].id}}">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <a href="/product/{{products[i][0].id}}"><img style="width:150px;height:150px" src="../{{products[i][0].img}}" alt=""></a>
                                    </div>
                                    <div class="media-body">
                                        <p>{{products[i][0].name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{products[i][0].price}}</h5>
                            </td>
                            <td>
                                <h5>{{quantity[i].quantity}}</h5>
                            </td>
                            <td>
                                <h5>${{quantity[i].price}}</h5>
                            </td>
                            <td>
                                <button class="gray_btn" style="cursor:pointer" onClick="removecart({{products[i][0].id}})">Remove</button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h5>Total</h5>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5 id="total">${{total}}</h5>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="bottom_button">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" name="code" id="code" placeholder="Coupon Code">
                                    <a class="primary-btn" onClick="applypromocode({{current_user.id}})">Apply</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/home">Continue Shopping</a>
                                    <a class="primary-btn" href="/checkout/{{current_user.id}}">Proceed to checkout</a>
                                </div>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="cart_area">
    <div class="container">
        <table class="table">
        <label style="margin-left:130px;font-size:50px">This cart is empty! 
                                      Go <a style="color:red" href="/home">add</a> things to it!</label>
        </table>
    </div>
</section>
{% endif %}

{% endblock %}