{% extends "base.html" %}

{% block title %} Checkout {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
</section>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../static/img/login.jpg" alt="">
                    {% if test %}
                    <form class="row login_form" action="/checkout/{{current_user.id}}" method="POST">
                        <div class="hover">
                            <h4>Your Current Address</h4>
                            <div class="col-md-12 form-group">
                                <textarea style="resize: none;margin-left:120px;width:300px;height:38px" readonly type="text" class="form-control" id="town" name="town" placeholder="Town" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Town'">{{address.town}}</textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea style="resize: none;margin-left:120px;width:300px;height:38px" readonly class="form-control" id="street" name="street" placeholder="Street" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Street'">{{address.street}}</textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea style="resize: none;margin-left:120px;width:300px;height:38px" readonly class="form-control" id="postal_code" name="postal_code" placeholder="Postal Code" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Postal Code'">{{address.postal_code}}</textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea style="resize: none;margin-left:120px;width:300px;height:38px" readonly class="form-control" id="delivery" name="delivery" placeholder="Delivery" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Delivery'">{{address.delivery}}</textarea>
                            </div>
                            <button style="border-radius:15px;" type="submit" value="submit" class="primary-btn">Use this address</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Address for Checkout</h3>
                    <form class="row login_form" action="/checkout/{{current_user.id}}" method="POST">
                        <div class="col-md-12 form-group">
                            <textarea style="height:38px" type="text" class="form-control" placeholder="Town" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Town'" required></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea style="height:38px" class="form-control" placeholder="Street" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Street'" required></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea style="height:38px" class="form-control" placeholder="Postal Code" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Postal Code'" required></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea style="height:38px" class="form-control" placeholder="Delivery" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Delivery'" required></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Use this address</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}