{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Home Page</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    {% for category in categories %}
                    <li class="main-nav-list"><a href="/category/{{category.id}}" aria-expanded="false" aria-controls="{{category.name}}"><span class="lnr lnr-arrow-right"></span>{{category.name}}<span class="number"></span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            
        <div class="col-xl-9 col-lg-8 col-md-7">
                
            <div class="filter-bar d-flex flex-wrap align-items-center"></div>
                    
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <a href="/product/{{product.id}}"><img  style="width:555px;height:280px" class="img-fluid" src="..\{{product.img}}" alt="" onerror=this.src="../static/img/p1.jpg"></a>
                                <div class="product-details">
                                <h6>{{product.name}}</h6>
                                <div class="price">
                                    <h6>${{product.price}}</h6>
                                </div>
                                {% if current_user.login_id %}
                                <div class="prd-bottom">
                                    <a style="cursor: pointer;" onClick="addtocart({{product.id}})" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a style="cursor: pointer;" onClick="addtowish({{product.id}})" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}