{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="header-services"></div>
    <main class="ps-main">
      <div class="ps-section--features-product ps-section masonry-root pt-100 pb-100">
        <div class="ps-container">
          <div class="ps-section__header mb-50">
            <h3 class="ps-section__title" data-mask="features">- Products</h3>
            <ul class="ps-masonry__filter">
              <li class="current"><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".books">Books</a></li>
              <li><a href="#" data-filter=".mobiles">Mobiles</a></li>
              <li><a href="#" data-filter=".movies">Movies</a></li>
              <li><a href="#" data-filter=".electronics">Electronics</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
