<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    {% block head %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Commissioner-Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        <ul class="navbar-nav ms-auto">
          {% if 'login_id' not in current_user.__dict__ %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/">My Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">WishList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">My Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>

    <div class="container justify-content-center">
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>