{% extends "base.html" %}

{% block title %} New Category {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
</section>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../static/img/login.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                      <h3 style="color:red;margin-top:-40px">{{messages[0]}}</h3>
                      {% endif %}
                    {% endwith %}
                    <h3>Creating a category</h3>
                    <form class="row login_form" action="/newcategory" method="POST">
                        <div class="col-md-12 form-group">
                            <input type="category" class="form-control" id="category" name="category" placeholder="Category name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Category name'" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}