{% extends "base.html" %}

{% block title %} New Product {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
</section>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../static/img/login.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3 style="margin-top:-60px">Creating a product</h3>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                      <h3 style="color:red;margin-top:-80px">{{messages[0]}}</h3>
                      {% endif %}
                    {% endwith %}
                    <form class="row login_form" action="/newproduct" method="POST" enctype="multipart/form-data">
                        <div class="col-md-12 form-group">
                            <input type="product" class="form-control" id="product" name="product" placeholder="Product name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product name'" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="short_description" name="short_description" placeholder="Short Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Short Description'" maxlength="80" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="description" class="form-control" id="description" name="description" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'" maxlength="800" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="price" class="form-control" id="price" name="price" placeholder="Price" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price'" required>
                        </div>
                        <div class="col-md-12 form-group">
                          <select style="margin-left:55px" type="category" name="category" id = "myList">
                              {% for category in categories %}
                              <option value = "{{category.id}}">{{category.name}}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label style="margin-left:-240px" for="image">Product image</label>
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}