{% extends "base.html" %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>{{product.name}}</h1>
            </div>
        </div>
    </div>
</section>

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <img style="width:555px;height:420px" class="img-fluid" src="../{{product.img}}" alt="" onerror=this.src="../static/img/p1.jpg">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{product.name}}</h3>
                    <h2>${{product.price}}</h2>
                    <ul class="list">
                        <li>Category: <a class="active" href="/category/{{category.id}}">{{category.name}}</a></li>
                    </ul>
                    <ul class="list"></ul>
                    <p>{{product.short_description}}</p>
                    {% if current_user.login_id %}
                    <div class="product_count">
                        <label for="quantity">Quantity:</label>
                        <input type="text" name="quantity" id="quantity{{product.id}}" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('quantity{{product.id}}'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                        <button onclick="var result = document.getElementById('quantity{{product.id}}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="primary-btn" onClick="addtocart({{product.id}})">Add to Cart</a>
                        <a style="cursor:pointer" class="icon_btn" onClick="addtowish({{product.id}})"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>{{product.description}}</p>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="margin-left:130px" class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>{{product.rating}}</h4>
                                    <h6>({{product.rating_count}} Reviews)</h6>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="review_list">
                            {% for i in range(total) %}
                            <div class="review_item">
                                <div class="media">
                                    <div class="media-body">
                                        <h4>{{users[i]}}</h4>
                                        <i>(Rated with {{ratings[i]}})</i>
                                    </div>
                                </div>
                                <p>{{comments[i]}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if current_user.login_id %}
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Add a Review</h4>
                            <p>Your Rating(0-5):</p>
                            <form class="row contact_form" action="/addrating/{{product.id}}" method="post" id="contactForm">
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <textarea type="text" class="form-control" id="comment" name="comment" placeholder="Your comment" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your comment'"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="rating" name="rating" placeholder="Your rating" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your rating'" step="0.01" required>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="primary-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div style="margin-top:-120px" class="filter-bar d-flex flex-wrap align-items-center"></div>

<div style="margin-left:310px" class="col-xl-8 col-lg-8 col-md-7">
                
    <section class="lattest-product-area pb-40 category-list">
        <div class="row">
            {% for product in recommended_products %}
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <a href="/product/{{product.id}}"><img  style="width:555px;height:280px" class="img-fluid" src="..\{{product.img}}" alt="" onerror=this.src="../static/img/p1.jpg"></a>
                        <div class="product-details" >
                        <h6>{{product.name}}</h6>
                        <div class="price">
                            <h6>${{product.price}}</h6>
                        </div>
                        {% if current_user.login_id %}
                        <div class="prd-bottom">
                            <a style="cursor: pointer;" onClick="addtocart({{product.id}})" class="social-info">
                                <span class="ti-bag"></span>
                                <p class="hover-text">add to bag</p>
                            </a>
                            <a style="cursor: pointer;" onClick="addtowish({{product.id}})" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Wishlist</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>


{% endblock %}