{% extends "index.html" %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="row">
    <div class="col-5 mx-auto align-middle">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Registration Form</h5>
                <form method="POST">
                    <div class="form-group">
                        <label for="InputEmail">Email<a style="color:red"> *</a></label>
                        <input type="email" class="form-control" name="email" id="InputEmail" placeholder="example@gmail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="InputUsername">Username<a style="color:red"> *</a></label>
                        <input type="text" class="form-control" name="username" id="InputUsername" required>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password<a style="color:red"> *</a></label>
                        <input type="password" class="form-control" name="password" id="InputPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="InputConfirmPassword">Confirm Password<a style="color:red"> *</a></label>
                        <input type="password" class="form-control" name="confirm_password" id="InputConfirmPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="InputCode">Special Code</label>
                        <input type="text" class="form-control" name="administrator_code" id="InputCode">
                    </div>
                    <button type="submit" style="margin-top:8px" class="btn btn-primary">Register</button>
                    <div>
                        <a style="color:red"> *</a> - required for registration!
                    </div>
                </form>
                <div>
                    <a href="/login"><button type="submit" style="margin-top:5px" class="btn btn-secondary btn-sm">Have an account</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
