{% extends "base.html" %}

{% block title %}
Unconfirmed
{% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmation</h1>
            </div>
        </div>
    </div>
</section>

<section class="cart_area">
    <div class="container">
        <table class="table">
        <label style="margin-left:130px;font-size:45px">Welcome!
                                      Please confirm your email! <a style="color:red" href="/resend/{{current_user.id}}">Resend!</a></label>
        </table>
    </div>
</section>

{% endblock %}
