{% extends "base.html" %}

{% block title %} Cart {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
</section>

{% if products %}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="../static/img/cart.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{product[0].name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{product[0].price}}</h5>
                            </td>
                            <td>
                                <a style="margin-left:135px" class="gray_btn" href="/addcartfromwish/{{product[0].id}}">Add to cart</a>
                            </td>
                            <td>
                                <a class="gray_btn" href="/removewish/{{product[0].id}}">Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a style="margin-left:-45px" class="gray_btn" href="/home">Continue Shopping</a>
                                </div>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="cart_area">
    <div class="container">
        <table class="table">
        <label style="margin-left:130px;font-size:50px">This wishlist is empty! 
                                      Go <a style="color:red" href="/home">add</a> things to it!</label>
        </table>
    </div>
</section>
{% endif %}

{% endblock %}