{% extends "base.html" %}

{% block title %} WishList {% endblock %}

{% block content %}
<section class="banner-area organic-breadcrumb">
</section>

{% if products %}
<section id="wish" class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in range(products | length) %}
                        <tr id="row{{products[i][0].id}}">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img style="width:150px;height:150px" src="../{{products[i][0].img}}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{products[i][0].name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{products[i][0].price}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="text" name="quantity" id="quantity{{products[i][0].id}}" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                    <button onclick="var result = document.getElementById('quantity{{products[i][0].id}}'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="var result = document.getElementById('quantity{{products[i][0].id}}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>
                            <td>
                                <button style="cursor:pointer" class="gray_btn" onClick="addtocart({{products[i][0].id}})">Add to cart</button>
                            </td>
                            <td>
                                <button class="gray_btn" style="cursor:pointer" onClick="removewish({{products[i][0].id}})">Remove</button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a style="margin-left:-45px" class="gray_btn" href="/home">Continue Shopping</a>
                                </div>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="cart_area">
    <div class="container">
        <table class="table">
        <label style="margin-left:130px;font-size:50px">This wishlist is empty! 
                                      Go <a style="color:red" href="/home">add</a> things to it!</label>
        </table>
    </div>
</section>
{% endif %}

{% endblock %}